body {
    background-image: url("mountains.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

